@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg-main: #0e0e11;
  /* Deep dark background */
  --color-bg-card: #1a1a1f;
  /* Card/Dark block background */
  --color-bg-hero-overlay: #00000080;
  /* Transparent dark overlay */
  /*color- Text */
  --color-text-primary: #ffffff;
  /* Main white text */
  --color-text-secondary: #b0b0b8;
  /* Subtle secondary text */
  --color-text-muted: #7c7c88;
  /* Even more muted gray text */
  /*color- Buttons & Icons */
  --color-btn-primary: #6c74f5;
  /* Purple/blue button (New Game) */
  --color-btn-secondary: #2b2b31;
  /* Dark secondary button (Join Game) */
  --color-btn-hover: #818af7;
  /* Lighter hover version of primary */
  --color-secondary-hover: #38383f;
  /* Lighter hover version of secondary */
  /*color- Cards & Elements */
  --color-card-quickmatch: #2b2d40;
  /* Quick Match card background */
  --color-card-privateroom: #2f2f33;
  /* Private Room card background */
  --color-badge-lock: #dbc39d;
  /* Beige/wood-like color for lock icon */
  /*color- Accent colors */
  --color-accent-online: #4ade80;
  /* Green for "Online" indicator */
  --color-accent-offline: #71717a;
  /* Gray for "Offline" status */
  --color-accent-invite: #373737;
  /* Dark neutral for invite button */
  /*color- Friends */
  --color-friend-name: #ffffff;
  --color-friend-status: #9ca3af;
  /*color- Game Card Statuses */
  --color-status-won: #4ade80;
  --color-status-lost: #f87171;
  --color-status-online: #38bdf8;
}

body {
  @apply bg-bg-main text-text-primary font-sans;
  font-family: 'Inter', sans-serif;
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.inter-100 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.inter-200 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.inter-300 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.inter-700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.inter-800 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.inter-900 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.box-shadow {
  box-shadow: 0px 8px 15px 1px #6c74f590;
}